.rounded-circle {
  width: 50px !important;
  height: 50px !important;
}
.header-bg {
  background-color: rgb(19, 127, 216);
}


hr.divider-title {
  max-width: 100%;
  border-width: 0.2rem;
  border-color: #f4843a;
}
hr.divider-sub-title {
  max-width: 100%;
  border-width: 0.2rem;
}
.ps-color {
  color: white;
  background-color: rgb(11, 36, 148);
}
.ae-color {
  color: white;
  background-color: blueviolet;
}
.pr-color {
  color: white;
  background-color: rgb(226, 43, 211);
}
.js-color {
  color: white;
  background-color: rgb(226, 204, 0);
}
.php-color {
  color: white;
  background-color: rgb(119, 123, 179);
}
.java-color {
  color: white;
  background-color: rgb(192, 2, 2);
}
.arduino-color {
  color: white;
  background-color: rgb(11, 92, 95);
}
.android-color {
  color: white;
  background-color: rgb(2, 192, 135);
}
.about-margin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.china-font {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 26px;
}

canvas {
  border: 2px solid black;
  background-image: url('/assets/canvas/grasses68.gif');
  width: 600px;
  height: 600px;
  background: darkcyan;
}

.talkBox {
  height: 20px;
  color: brown;
  font-size: 26px;
  font-weight: bold;
}